.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
}

.footer p {
    background: none ;
}
.socialMedia {
    background: none;
    color: #fff;
    display: flex;
    justify-content: center;
    
}
.socialMedia a {  
    text-decoration: none;
    background: none;
}
.socialMedia svg {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    background: none;
}
.icon-arrow {
    display: flex;
    justify-content: center;
    color:#fff;
    font-size: 25px;
    padding-bottom: 5%;
}

.icon-arrow svg {
    color:#fff;
}

.footer p {
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 50px;
    }
}